
<div style="margin: 20px 70px; padding: 10px 40px;">
<h1>Stupid Coaching </h1>
</div>
<div style="background-color: #f8f8f8; margin: 20px 70px; padding: 10px 40px; border: 1px solid lightgray;">

<p style="font-size: 20px;"> -- <strong> User:</strong>
"<em> <%= params[:question] %></em>"
</p>
</div>

<div style="margin: 20px 70px; padding: 10px 40px; border: 1px solid lightgray; background-color: lightyellow;">
<p style="font-size: 20px;"> -- <strong> Coach:</strong> "<em>
<%= if params[:question] == "I am going to work"
    "Great!"
elsif params[:question].include? "?"
   "Silly question, get dressed and go to work!"
else
    "I don't care, get dressed and go to work!"
end %></em>
"</p></div>

<div style="width: 20%; margin: auto;"> <button type="button" style="color: white;" class="btn btn-primary">
<%= link_to "Ask something else!", ask_path %> </button></div>
